@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Carattere&family=Open+Sans:wght@600&family=Playfair+Display:ital@1&display=swap');

:root {
    --font1: 'Carattere', cursive;
    --font2: Verdana, Geneva, Tahoma, sans-serif;
    --font3: 'Playfair Display', serif;
}
*{
    margin: 0px;
    padding: 0px;

}
html, body{
    background-color: darkgray;
    min-height: 100vh;
}
header{
    background-color: black;
    color: white;
    text-align: center;
    font-family: 'Playfair Display', serif;
}
header > h1{
    padding-top: 50px;
    font-variant: small-caps;
    font-size: 10vh;
}
header > p{
    padding-bottom: 50px;
    
}
a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}
a:hover{
    text-decoration: underline;
    color: yellow;
}
section{
    font-size: 3vh;
    font-family: 'Carattere', cursive;
    padding-top: 10%;
    padding-bottom: 10%;
    line-height: 2em;
    padding-left: 30px;
}
section > p{
    padding-bottom: 2em;
    
}
section.normal{
    background-color: white;
}
section.imagem{
    background-color: rgb(90, 90, 90);
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.637);
}
section.imagem > p{
    background-color: rgba(0, 0, 0, 0.384);
    display: inline-block;
    padding: 5px;
    color: white;
    text-shadow: 1px 1px 0px rgb(0, 0, 0);
}
#img01{
    background-image: url(imagens/background001.jpg);
    background-attachment: fixed;
    background-position: center right;
    background-repeat: no-repeat;
    background-size: cover;
}
#img02{
    background-image: url(imagens/background002.jpg);
    background-attachment: fixed;
    background-position: center, bottom;
    background-repeat: no-repeat;
    background-size: cover;
}
footer{
    background-color: black;
    text-align: center;
    padding: 10px;
}